<?xml version="1.0"?>

<launch>
 
    <!-- Load the parameters for the algorithm -->
    <rosparam command="load" file="$(find ur5_training)/config/qlearn_params.yaml" />
 
    <!-- Launch the training system -->
    <node pkg="ur5_training" name="start_training" type="start_training.py" output="screen"/>

</launch>